/* Color scheme

primary background color - #F3EEEA  or #FFC7C7;
   primary color - light pink  #ED9ED6;
   accent color - purple #c187df or #C683D7;
   text - medium gray and black #333;
   link text - blue #7071E8 and purple #65128e;
   button - purple #65128e;
   button text - white;
*/
:root {
  --LighterBackground: #f3eeea;
  --LighterPink: #ed9ed6;
  --LighterPurple: #c187df;
  --GridGray: lightgray;
  --BlackText: #333;
  --DarkerBlack: #000;
  --WhiteText: white;
  --AccentText: #7071e8;
  --AnchorVisited: #500973;
  --AnchorActive: #044a16;
  --ButtonPurple: #65128e;
  --BorderBlack: rgba(0, 0, 0, 0.3);
  --SunYellow: #edc655;
  --SunMiddle: #fcffad;
  --SunOrange: #f76414;
  --RegularFont: 400;
  --BoldFont: 700;
  --GeneralFont: 16px;
  --RegularH1: 30px;
  --RegularH2: 24px;
  --RegularH3: 18px;
  --MiddleH1: 25px;
  --SmallerH1: 20px;
}

html {
  font-family: "Maitree", serif;
  font-weight: var(--RegularFont);
  font-size: var(--GeneralFont);
  line-height: 1.6;
  background-color: var(--LighterBackground);
  color: var(--BlackText);
}

* {
  box-sizing: border-box;
}

/* Typography */

h1 {
  font-size: var(--RegularH1);
  font-weight: var(--BoldFont);
  color: var(--AccentText);
}

h2 {
  font-size: var(--RegularH2);
  font-weight: var(--BoldFont);
}

h3 {
  font-size: var(--RegularH3);
  font-weight: var(--BoldFont);
}

img {
  max-width: 100%;
  display: block;
}

/* Layout */

#personal_logo {
  height: 75px;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: var(--LighterPink);
}

.page-header__item {
  flex: 0 1 100px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.container {
  display: flex;
}

.profile {
  max-width: 700px;
  margin: 0;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin: 1rem;
  border-radius: 50%;
}

.about-list {
  margin: 0;
  padding-inline-start: 0;
}

.about-info {
  min-width: 150px;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
}

.about-cv-link {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
}

.social-media {
  display: flex;
}

.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  clear: both;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--LighterPurple);
  color: var(--DarkerBlack);
}

/* Navigation */

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
}

.navigation-list__item--active {
  text-decoration: none;
}

/* Defalut link
a:link {
  color:#201d89;
}
*/
a:visited {
  /* visited link */
  color: var(--AnchorVisited);
}

a:hover {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selected link */
  color: var(--AnchorActive);
}

button,
.button,
input[type="submit"] {
  border: none;
  font-family: inherit;
  background-color: var(--ButtonPurple);
  color: var(--WhiteText);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid var(--BorderBlack);
  transition-duration: 0.2s;
  transition-property: opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  cursor: pointer;
  opacity: 0.8;
}

/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
}

/* end grid fallback */

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
  }

  .grid__item {
    background-color: var(--GridGray);
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 10px;
  }

  .grid__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  }
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  .profile__portrait {
    margin: 1rem auto;
  }

  .container {
    flex-direction: column;
  }

  h1 {
    font-size: var(--SmallerH1);
  }
}

@media all and (min-width: 501px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  .profile__portrait {
    max-height: 250px;
  }

  h1 {
    font-size: var(--MiddleH1);
  }
}

@keyframes color-change {
  0% {
    fill: var(--SunYellow);
  }

  50% {
    fill: var(--SunMiddle);
  }

  100% {
    fill: var(--SunOrange);
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
